
* {
	margin: 0;
	padding: 0;
	}
body {
	background: url(../img/flag_small.jpg) no-repeat center center fixed;
	background-size: cover;
	font: normal 100% Arial, Helvetica, sans-serif;
	color: #000;
	}
.main-container {
	width: 900px;
	height: auto;
	background: rgba(239, 224, 155, 1);
	margin-top: 0px; 
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-radius: 8px;
	}
.menu-bar-container {
	padding-bottom: 30px;
	text-align: center;
	}
p { 
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 1.7em;
	font-size: 100% 
	}
h1 {
	padding: 20px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
	}
h2 {
	padding: 10px;
	text-align: center;
	}
header {
	height: 100px;
	display: block;
}
.img-align {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	}
#top_nav {
	top: 100px;
	position: fixed;
	z-index: 1000;
	width: 900px;
	background: rgba(239, 224, 155, 1);
	text-align: center;
	display: block;
	}
ul.menu-bar {
	margin: 0; 
	list-style-type: none;
	}
ul.menu-bar li {
	margin: 2px; 
	padding: 2px; 
	text-align: center; 
	background: #044bb5; 
	display: inline-block; 
	font-size: 16px;
	border-radius: 5px;
	margin-left: 30px;
	}
ul.menu-bar li a {
	color: white; 
	display: block; 
	padding: 7px 20px; 
	text-decoration: none; 
	}
ul.menu-bar li:hover {
	background: #c5ba05; 
	color: #fff; 
	}
.filmography-container {
	width: 900px;
	}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
	}
.filmography-img {
	width: 400px;
	padding-top: 50px;
	padding-left: 30px;
	}
.filmography {
	padding-right: 20px;
	width: 420px;
	height: auto;
	float: right;
	}
.rewards-container {
	width: 900px;
	}
.rewards-img {
	padding-top: 57px;
	}
.rewards {
	width: 420px;
	height: auto;
	float: left;
	}
